@import "tailwindcss";

:root {
  --font-changa-one: var(--font-changa-one);
  --font-jaro: var(--font-jaro);
  --font-poppins: var(--font-poppins);
  --font-oswald: var(--font-oswald);
}

/* .hide-scrollbar  */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.font-style {
    font-family: var(--font-jaro);
    font-weight: 1000px;
}