@import "tailwindcss";

:root {
  --font-changa-one: var(--font-changa-one);
  --font-jaro: var(--font-jaro);
  --font-poppins: var(--font-poppins);
  --font-oswald: var(--font-oswald);
  
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

/* .hide-scrollbar  */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.font-style {
    font-family: var(--font-jaro);
    font-weight: 1000px;
}
